body {
  font: 14px/21px 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode',
    sans-serif;
  margin: 0;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

#moviesList > li {
  list-style-type: none;
}

#moviesCountersContainer {
  text-align: right;
}

#moviesCountersContainer span {
  margin: 0 25px 0 0;
  font-weight: bold;
}

#moviesListContainer,
#formContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#moviesList > li {
  border: solid 2px #ccc;
  margin: 0 0 10px 0;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
}

#moviesList > li:hover {
  border-color: #aaa;
}

.container-div {
  margin: 10px 0 0 0;
}

.btn {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  background-color: #fff;
  border: none;
}

.btn--seen {
  background-image: url('./img/seen.png');
}

.btn--not-seen {
  background-image: url('./img/not-seen.png');
}

.link-button {
  border-radius: 5px;
  border: 2px solid #ccc;
  display: inline-block;
  cursor: pointer;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  margin: 0 0 0 39px;
}

.link-button:hover {
  border-color: #aaa;
}

.link-button:active {
  position: relative;
  top: 1px;
}
